// === WIDTH ===

$maxWidthContainer: 1120px;
$bp-1: $maxWidthContainer + 60px;
$bp-2: 991.98px;
$bp-3: 767.98px;
$bp-4: 639.98px;

// === COLORS ===

$white: #fff;
$black: #000;
$primary: #ffe267;
$secondary: #a5e5f4;
$text-primary: #333;
$text-secondary: #3e3e3f;
$background: #f4f4f4;

// === OTHER ===

$transition: 0.2s;
