.about-year {
  padding: 15px;
  line-height: 34px;
  color: $text-primary;

  // .about-year__title

  &__title {
    margin: 20px 0;
    font-weight: 700;
    font-size: 58px;

    span {
      font-size: 24px;
    }
  }

  // .about-year__info

  &__info {
    font-size: 16px;
  }
}
